logs/
node_modules/
package-lock.json
coverage/
.idea/
run/
.DS_Store
typings/
.vscode
/**/.DS_Store
/.vscode/
dist/
*/jsconfig.json
*/.turbo/
.husky
/**/jsconfig.json
/**/**/.nuxt/
/.turbo/
**/.turbo/
**/**/.output/

