logs/
coverage/
.idea/
run/
.DS_Store
typings/
.vscode
**/.DS_Store
/.vscode
dist/
*/jsconfig.json
.husky
/**/jsconfig.json
/**/.nuxt/
.turbo
**/.turbo/
**/.output/
**/node_modules
**/.vite
**/.temp

